@tailwind base;
@tailwind components;
@tailwind utilities;
@import "leaflet/dist/leaflet.css";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);

	/* font-family: Arial, Helvetica, sans-serif; */
}
html,
body {
	height: 100%; /* Tambahkan ini */
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

/* .leaflet-default-icon-path {
	background-image: url(https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon.png);
}

.leaflet-marker-icon {
	background-image: url(https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 25px !important;
	height: 41px !important;
} */
/* Marker Kelap Kelip */

.pulsing-dot {
	border-radius: 50%;
	height: 20px;
	width: 20px;
	transform-origin: center center;
	animation: pulse 1.5s ease infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.5);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: scale(1.5);
		opacity: 0;
	}
}

.leaflet-div-icon {
	background: transparent;
	border: none;
}
